---
import Layout from '@/layouts/BlogPost.astro';
const tags = ['astro', 'react', 'svelte', 'vue', 'web-components'];
const description = `
  <p class="text-left">
    Foto de <a
      href="https://unsplash.com/es/@francescobiancoo?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
      >Francesco Bianco</a
    > en <a
      class=" text-pgreen font-bold"
      href="https://unsplash.com/es/fotos/arte-mural-floral-dorado-y-azul-TVsgRyKJDc0?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
      >Unsplash</a
    >
  </p>
`;
---

<Layout
	tags={tags}
	icon="beach"
	title="About Me"
	description= {description}
	pubDate={new Date('August 08 2021')}
	heroImage="/src/assets/fran.jpg"
>
	<p>
               Hola fea, no tenia que escribirte carta porque no me gusta pero bueno ya que a usted le gusta se la escribiré.
               Te quiero un montón aunque muchas veces me porte mal y no te lo demuestre, tu lo sabes. Sé que soy malo porque te recrimino todo el tiempo que no me gusta madrid y que estoy aquí por tí pero solo quiero que me entiendas y si te lo digo es porque quiero que sepas lo importante que eres para mi porque por eso estoy aqui, por que te quiero tonta, y a la gorda tambien.
                Yo quiero que te vengas conmigo a vivir porque estoy muchos dias solo pienso cosas malas, me acuerdo de los bichos y como todo puede cambiar literalmente de un dia para otro y por eso tengo claro que no quiero perderte. Pienso muchos dias en ti, pero no pensar sinmas sino que pienso que te quiero un monton y que no voy a encontrar a ninguna chica como tu, aunque a veces seas un poco demonio y un rollo papel.
                 Me encanta la relacion que tenemos y ya lo sabes parece que si lo escribo es menos verdad porque yo pienso asi que cuando dices algo pierde el valor y que lo que de verdad se siente no se tiene que decir. Asi somos de malos lo sentimos. No vamos a escribir una carta de 1000 palabras porque como acabo de decir hay cosas que es mejor no decirlas y simplemente sentirlas. Pues eso que las llaves que te di en su momento son para que las uses pero para que las uses todos los dias ¿no? Asi decimos, te quiero un monton tonta ya lo sabes, tienes menos regalos de los que mereces pero esque eso va a ser asi siempre te regale los que te regale (ves estan tonterias aunque se piensen pierden todo el sentido decirlas, s sabe de todo ya sabes). Te quiero tonta 🧡
	</p>

</Layout>
